.editor-tools__text-layout-button {
  margin: 0;
  padding: 0;
  border: 1px solid #ffffff;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.editor-tools__text-layout-button:active {
  border: 1px solid #7BFF2B;
}
